<footer class="footer py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 text-lg-start">
        Copyright &copy; Editorial Watermelon 2022
      </div>
      <div class="col-lg-4 my-3 my-lg-0">
        <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/EditorialWatermelon" target="_blank" aria-label="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class="btn btn-dark btn-social mx-2" href="https://www.tiktok.com/@editorial_watermelon2021" target="_blank" aria-label="Tiktok">
          <i class="fab fa-tiktok"></i>
        </a>
        <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/editorial.watermelon" target="_blank" aria-label="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
      <div class="col-lg-4 text-lg-end">
        <a class="link-dark text-decoration-none" href="https://www.github.com/MrRobot586" target="_blank">Hecho con &hearts; por Diego Oropeza</a>
      </div>
    </div>
  </div>
</footer>
